body{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(228, 252, 228);
}

.navContainer{
    /* background-color: aqua; */
    width: 85%;
}

.navContainer a{
    float: left;
}

#menuResp, #toggle{
    float: right;
}

#toggle{
    display: none;
    font-size: 30px;
    padding-top: 12px;
}

.navContainer a{ color: green; }

.logo, #menuResp a{
    padding: 20px 15px 20px 15px;
}

#menuResp a:hover{
    background-color: rgb(201, 233, 201);
    transition-duration: 0.4s;
}

@media screen and (max-width: 700px) {
    #menuResp{
        display: none;
    }
    #toggle{
        display: block;
    }
}
